<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.netty.Dao.User">
    <select id="getUser" parameterType="java.lang.String" resultType="com.data.netty.Bean.MysqlBean.UserBean">
        SELECT
            username,password
        FROM
            User
        WHERE
            username = #{username}
    </select>
</mapper>
